footer {
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 5px;
    background-color: lightgrey;
    text-shadow: 0 0 10px #3B7080;
    color: #fafafa;
}

footer a {
    color: #fafafa;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
}

footer a:hover {
    color: #3B7080;
}